<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of myhome" 
      size-lg="2" size-md="3" size-sm="4" size-xl="3" size-xs="6">
        <ion-card class="iocard">

          <p class="card_label text-center">
            {{item.product.nomprd}}
          </p>
          <ion-slides [options]="sliderOpts" pager=true>
            <ion-slide *ngFor="let img of item.images">     
              <img src="{{img}}" (click)="openImage(img)">
            </ion-slide>
          </ion-slides>
          <div>
            <ion-chip color="light" outline=true  style="float: left;" >
              <ion-icon name="share"></ion-icon> 
            </ion-chip>
            <ion-chip color="light" outline=true  style="float: right;" (click)="Like(item)">
              <ion-icon name="heart" color="danger" *ngIf="item.like==true" ></ion-icon>
              <ion-icon name="heart-empty" *ngIf="item.like==false" ></ion-icon>
              <ion-label>{{item.nombrelike}}</ion-label>
            </ion-chip>

          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
